@font-face {
  font-family: "Figtree-500";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree-800";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}

@import "tailwindcss";

@theme {
  --font-display-500: "Figtree-500", "sans-serif";
  --font-display-800: "Figtree-800", "sans-serif";

  --color-yellow: hsl(47, 88%, 63%);

  --shadow-box: 10px 10px 0 var(--color-gray-950);
}

body {
  background-color: var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
